{% extends 'base.html' %}

{% block content %}
{% if conf == True %} 
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Status da Compra</h5>
      <p class="card-text">Compra concluída com sucesso</p>
      <a href="/home" class="btn btn-primary">OK</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
{% endif %} 
{% if conf == False %} 
<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Status da Compra</h5>
      <p class="card-text">Infelizmente não foi possível concluir a compra pois não temos mais passagens disponíveis para esta rota</p>
      <a href="/home" class="btn btn-primary">OK</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
{% endif %} 
{% endblock %}