{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Rota</th>
                <th>Tempo</th>
                <th>Voos</th>
                <th></th>
            <tr>
        </thead>
        <tbody>
            {% for p in value %}
            <tr>
                <td>{{p.rota}}</td>
                <td>{{p.tempo}} h</td>
                <td>{{p.info}}</td>
                <td><button type="button" class="btn btn-primary">Comprar</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}